<nav class="anonymous">
    <ul>
        <li><a asp-page="/Index">Úvod</a></li>
        <li><a asp-page="/Account/Register">Registrace</a></li>
        <li><a asp-page="/Account/Login">Přihlášení</a></li>
        <li><a asp-page="/Account/ForgotPassword">Zapomenuté heslo</a></li>
    </ul>
</nav>
