@page
@model IndexModel

<h2>Objednávka trička</h2>
<form method="post">
    <table class="form">
        <tbody>
            <tr>
                <th>Velikost:</th>
                <td>
                    <select asp-for="Order.ShirtSizeId" asp-items="Model.ShirtSizes"></select>
                </td>
            </tr>
            <tr>
                <th>Typ:</th>
                <td>
                    <select asp-for="Order.ShirtTypeId" asp-items="Model.ShirtTypes"></select>
                </td>
            </tr>
            <tr>
                <th>E-mail:</th>
                <td><input asp-for="Order.EmailAddress" /></td>
            </tr>
            <tr>
                <th>Jméno a příjmení:</th>
                <td><input asp-for="Order.FullName" /></td>
            </tr>
            <tr>
                <th>Ulice a číslo:</th>
                <td><input asp-for="Order.Street" /></td>
            </tr>
            <tr>
                <th>Místo:</th>
                <td><input asp-for="Order.City" /></td>
            </tr>
            <tr>
                <th>PSČ:</th>
                <td><input asp-for="Order.ZipCode" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <td>
                    <div asp-validation-summary="All"></div>
                    <input type="submit" value="Odeslat" />
                </td>
            </tr>
        </tfoot>
    </table>
</form>
