@page "okay/{OrderId:int}"
<h1>Objednávka odeslána</h1>
<p>Díky, vaše objednávka byla úspěšně odeslána a bylo jí přiděleno číslo <code>@this.RouteData.Values["OrderId"]</code>. O vyřízení budete informováni e-mailem.</p>