@page
@model ForgotPasswordModel
<h2>Reset zapomenutého hesla</h2>
<form method="post">
    <table class="form">
        <tbody>
            <tr>
                <th>Uživatelské jméno:</th>
                <td><input asp-for="Input.UserName" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <td>
                    <div asp-validation-summary="All"></div>
                    <input type="submit" value="Odeslat" />
                </td>
            </tr>
        </tfoot>
    </table>
</form>
