@page
@model LoginModel

<h2>Přihlášení</h2>
<form method="post">
    <table class="form">
        <tbody>
            <tr>
                <th>Uživatelské jméno:</th>
                <td><input asp-for="Input.UserName" /></td>
            </tr>
            <tr>
                <th>Heslo:</th>
                <td><input asp-for="Input.Password" /></td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input asp-for="Input.RememberMe" />
                    <label asp-for="Input.RememberMe">pamatuj si mě na tomto počítači</label>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <td>
                    <div asp-validation-summary="All"></div>
                    <input type="submit" value="Odeslat" />
                </td>
            </tr>
        </tfoot>
    </table>
</form>
@if (this.Model.IdentityProviders.Any()) {
    <h2>Přihlášení pomocí dalších služeb</h2>
    <p>Můžete se přihlásit také prostřednictvím následujících služeb:</p>
    <ul>
        @foreach (var idp in this.Model.IdentityProviders) {
            <li>
                <a asp-page="LoginExternal"
                   asp-route-idpName="@idp.Name"
                   asp-route-returnUrl="@this.Request.Query["returnUrl"]">@idp.DisplayName</a>
            </li>
        }
    </ul>
}
<h2>Přihlášení pomocí jiného zařízení</h2>
<ul>
    <li><a asp-page="LoginApprovalRequest">Přihlásit se</a></li>
</ul>