@page
<h2>Registrace nového uživatele</h2>
<p>
    Byli jste úspěšně zaregistrováni. Na zadanou e-mailovou adresu
    byla zaslána zpráva s odkazem, na který musíte přejít, aby byla
    vaše registrace potvrzena.
</p>