@page "{userId}"
@model ResetPasswordModel
<h2>Reset hesla</h2>
<form method="post">
    <table class="form">
        <tbody>
            <tr>
                <th>Nové heslo:</th>
                <td><input asp-for="Input.Password" /></td>
            </tr>
            <tr>
                <th>Nové heslo znovu:</th>
                <td><input asp-for="Input.ConfirmPassword" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <td>
                    <div asp-validation-summary="All"></div>
                    <input type="submit" value="Odeslat" />
                </td>
            </tr>
        </tfoot>
    </table>
</form>